body {
    font-family: Arial, sans-serif;
    background:  #454545 ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background: yellow;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    width: 300px;
  }
  
  input, select, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
  }
  
  button {
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  #result {
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
  }
  